---
layout: default
---

{% include gallery.html images=site.data.staff.cofounder_image gallery_name="staff" title="Our Co-founders"%}
{% include gallery.html images=site.data.staff.board_image gallery_name="staff" title="Board of Directors"%}
{% include gallery_horizontal.html images=site.data.staff.board_member_images gallery_name="staff" title="Our Board Members"%}
{% include new_gallery.html images=site.data.staff.staff_images gallery_name="staff" title="Our Volunteers" %}
{% include new_gallery.html images=site.data.staff.partners_in_heart gallery_name="staff" title="Partners In Heart" %}

<div class="container" style="text-align:justify; margin-bottom:2em">
  <div class="col-md-10 col-md-offset-1">
    <p>
    The founding members of this organization have the passion, ambition and skills because of the support, love and memory of these people in our lives.  We celebrate JoAnn DeLazzari, Paul Rose and Stephanie Olafson for being in our lives and inspiring us and supporting our passion.  They will always be loved and missed.
    </p>
  </div>
</div>
