<div class="container" style="color:white; font-size:1.2em; text-align:center; margin-top:2em">
  {% if include.title %}
    <div style="text-align:center; margin-bottom:2em">
      <h2>{{ include.title }}</h2>
    </div>
  {% endif %}
  {% for image in {{include.images}} %}
    <div class="row" style="margin-top:2em; margin-bottom:2em">
      <div class="col-md-3 col-md-offset-1">
        <div>
          <a href="/assets/img/{{ include.gallery_name }}/{{ image.name }}">
            <img src="/assets/img/{{ include.gallery_name }}/{{ image.name }}" style="width:200px"/>
          </a>
        </div>
        <div style="margin-top:0.75em">
        {% if image.title %}
          <strong>{{ image.title }}</strong>
          <br/>
        {% endif %}
        </div>
      </div>
      <div class="col-md-7" style="text-align:justify">
        {% if image.blurb %}
          {{ image.blurb }}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
