<div class="container" style="text-align:center; margin-top:2em">
  <div class="col-md-10 col-md-offset-1">
    {% if include.title %}
      <div style="text-align:center; margin-bottom:2em">
        <h2>{{ include.title }}</h2>
      </div>
    {% endif %}
    {% for image in {{include.images}} %}
      <div style="margin-top:1.5em; margin-bottom:1.5em">
        <a href="/assets/img/{{ include.gallery_name }}/{{ image.name }}">
          <img src="/assets/img/{{ include.gallery_name }}/{{ image.name }}" style="width:550px"/>
        </a>
      </div>
      {% if image.title %}
        <strong>{{ image.title }}</strong>
        <br/>
      {% endif %}
      {% if image.blurb %}
        <div style="margin-top:2em; text-align:justify">
          {{ image.blurb }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
