<html>
<head>
  <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"> 
  <!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <style>
    div.header {
      text-align: center;
      color: green;
      background: azure;
    }
  </style>
</head>
<body>
<div class="container">
  <a href = "/index.html">
    <div class="header span-3" href = "/index.html">
    Home
    </div>
  </a>

  <div class="header span-3">
  Programs and Services
  </div>

  <a href = "/about_us.html">
    <div class="header span-3">
    About Us
    </div>
  </a>

  <div class="header span-3">
  Meet Our Staff
  </div>

  <div class="header span-3">
  Our Partners
  </div>

  <div class="header span-3">
  Gallery
  </div>

  <div class="header span-3">
  How You Can Help
  </div>

  <div class="header span-3 last">
  Contact Us
  </div>

