<html>
<head>
  {% include css.html %}
  <script type="text/javascript" src="js/instant/instant.js"></script>
  <script type="text/javascript" src="js/instant/cvi_text_lib.js"></script>
  <style>
    div.header {
      text-align: center;
      color: green;
      background: azure;
      padding-top:0.5em;
      padding-bottom:0.5em;
      padding-right:10px;
      margin-right:0px;
    }
    div.header.last {
      padding-right:0px;
    }
    div.header:hover {
      background: yellow;
    }
  </style>
</head>
<body>
<div class="container">
  <a href = "/index.html">
    <div class="header span-3" href = "/index.html">
    Home
    </div>
  </a>

  <a href = "/services.html">
    <div class="header span-3">
    Services
    </div>
  </a>

  <a href = "/about_us.html">
    <div class="header span-3">
    About Us
    </div>
  </a>

  <div class="header span-3">
  Meet Our Staff
  </div>

  <div class="header span-3">
  Our Partners
  </div>

  <a href = "/gallery.html">
    <div class="header span-3">
    Gallery
    </div>
  </a>

  <div class="header span-3">
  How You Can Help
  </div>

  <div class="header span-3 last">
  Contact Us
  </div>

