<!-- Fixed navbar -->
<style>
  .navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 500;
    font-size: 12px;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color:#00b3fe;
  }
</style>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#384452">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}" style="color:#d3d3d3">A Child's Passport To Health</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <!-- TODO: actually link to page -->
        <li {% if page.title == "Home" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
        <li {% if page.title == "Services" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">SERVICES</a></li>
        <li {% if page.title == "About Us" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">ABOUT US</a></li>
        <li {% if page.title == "Our Kids" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">OUR KIDS</a></li>
        <li {% if page.title == "Meet The Staff" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">MEET THE STAFF</a></li>
        <li {% if page.title == "Donate" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">DONATE</a></li>
        <li {% if page.title == "Our Partners" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">OUR PARTNERS</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
{% include spacer.html %}
