<!-- Fixed navbar -->
<style>
  .navbar {
    min-height: 90px;
  }
  .navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 55px;
  }
  .navbar-default .navbar-nav > li > a:hover {
    color:#00b3fe;
  }
  .navbar-default .navbar-nav > li > ul > li > a {
    color: white;
    font-weight: 500;
    font-size: 12px;
    text-align:center;
  }
</style>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#384452">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}" style="color:#d3d3d3"><img src="/assets/img/logos/Newest Puzzle Logo_transparent_cropped_thumb.png" style="margin-top:-1em;width:200px"/></a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="{{"/" | prepend: site.baseurl }}">HOME</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" type="button" data-toggle="dropdown">ABOUT US<span class="caret"></span></a>
          <ul class="dropdown-menu" style="background-color:#384452">
            <li><a href="{{"/our_story.html" | prepend: site.baseurl }}">OUR STORY</a></li>
            <li><a href="{{"/our_mission.html" | prepend: site.baseurl }}">OUR MISSION</a></li>
            <li><a href="{{"/contact_us.html" | prepend: site.baseurl }}">CONTACT US</a></li>
          </ul>
        </li>
        <li><a href="{{"/services.html" | prepend: site.baseurl }}">SERVICES</a></li>
        <li><a href="{{"/meet_the_staff.html" | prepend: site.baseurl }}">OUR STAFF</a></li>
        <li><a href="{{"/fundraiser_gallery.html" | prepend: site.baseurl }}">FUNDRAISER</a></li>
        <li><a href="{{"/our_kids.html" | prepend: site.baseurl }}">OUR KIDS</a></li>
        <li><a href="{{"/our_partners.html" | prepend: site.baseurl }}">OUR PARTNERS</a></li>
        <li><a href="{{"/donate.html" | prepend: site.baseurl }}">DONATE</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
{% include spacer.html %}
